doctype 5
html
	head
		title Translation Server 
		link(rel='stylesheet', href='/main.css')
	body(style='text-align:left; font-size:20px')
		ul
			li
				a(href='/translations/all') All translations
			li
				a(href='/translations/automatic') Automatic translations
			li
				a(href='/translations/pending') Pending translations

		h2 
			a(href='/translations/manual') Manual translations
		for game in ['negonlp', 'negonlp2', 'negonlpnc', 'negonlp2nc']
			h3 #{game}
			ul
				for role in ['Employer', 'Candidate']
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}_JobCandidate') #{role} - all
					li
						a(href='/translations/manual/dataset?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') #{role} - dataset, real env
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage&is_correct=false') #{role} - real env, mistakes
						