doctype 5
html
	head
		title Translation Server 
		link(rel='stylesheet', href='/main.css')
	body(style='text-align:left; font-size:20px')
		h2 GUIs 
		ul
			li
				a(href='/translate.html') Simple Translate
			li
				a(href='/correct.html') Expert Translate (simple+woz)
		h2 game index
		ul
			li negonlp  -      KBAgent, students, NLU
			li negonlp2 -      KBAgent, mturkers, WOZ
			li negonlpnc -     NCAgent, students, NLU
			li negonlp2nc-     NCAgent, mturkers, WOZ
			li negonlpAMT-     KBAgent, mturkers, NLU
			li negonlp2ncAMT - NCAgent, mturkers, WOZ
			li html -          the translate.html interface
			li expert -        the correct.html interface
				
		h2 
			a(href='/translations/manual') Manual translations
		for game in ['negonlp', 'negonlp2', 'negonlpnc', 'negonlp2nc', 'negonlpAMT', 'negonlpncAMT', 'negonlp2ncAMT', 'html', 'expert']
			h3 #{game}
			ul
				for role in ['Employer', 'Candidate']
					li
						a(href='/woz.html?classifierName=#{role}&source=#{game}_JobCandidate') Wizard-of-Oz for #{role} in #{game}
					li
						a(href='/woz.html?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') Wizard-of-Oz for #{role} in #{game}, real env
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}_JobCandidate') #{role} - all
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') #{role} - real env
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage&is_correct=false') #{role} - real env mistakes
					li
						a(href='/translations/manual/dataset?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') #{role} - real env dataset 
					li
						a(href='/stats?classifierName=#{role}&source=#{game}_JobCandidate') #{role} Statistics
					li
						a(href='/stats?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') #{role} Statistics, real env

		for game in ['html', 'expert']
			h3 #{game}
			ul
				for role in ['Employer', 'Candidate']
					li
						a(href='/woz.html?classifierName=#{role}&source=#{game}') Wizard-of-Oz for #{role} in #{game}
					li
						a(href='/translations/manual?classifierName=#{role}&source=#{game}') #{role} - all
					li
						a(href='/translations/manual/dataset?classifierName=#{role}&source=#{game}') #{role} - dataset 

		for game in ['negochatWithAgent']
			h3 #{game}
			ul
				for role in ['Employer-usa']
					li
						a(href='/woz.html?classifierName=#{role}&source=#{game}_JobCandidate&accountName=negochatstorage') Wizard-of-Oz for #{role} in #{game}

		h2 Other translations
		ul
			li
				a(href='/translations/all') All translations
			li
				a(href='/translations/automatic') Automatic translations
			li
				a(href='/translations/pending') Pending translations
